/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
  background-color: #262626;
  font-family: 'Cairo'
}

.top-bar {
  margin-top: 2%;
}

.app-name {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-right: 4%;
  padding-top: 2%;
}

.nav-bar {
  float: left;
  padding-left: 4%;
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-top: .5%;
}

.search-icon {
  float: right;
  padding-right: 6%;
  margin-top: -1%;
  width: 1.2%;
  cursor: pointer;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 6%;
  top: 4%;
}

.bm-burger-bars {
  background: white;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: white;
}

.bm-menu {
  background-color: #262626;
  width: 100%;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
} */

.bm-morph-shape {
  fill: #262626;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list {
  overflow-y: hidden;
}
 

nav a {
  display: flex;
  text-decoration: none;
}

.menu-item {
  text-align: center;
  margin-top: 18%;
  margin-left: 32%;
  font-size: 24px;
  color: white;
}

.menu-item:hover {
  text-decoration: underline;
}

.search {
  float: right;
  margin-right: 6%;
  margin-top: -1.2%;
}

.landing-content input {
  width: 10%;
  border: none;
  border-bottom: 1px solid white;
  font-size: 18px;
  background-color: #262626;
  color: white;
}

.landing-content input::placeholder {
  color: gray;
}

.landing-content input:focus {
  outline: none;
}